.fifth__page-content {
  margin: 0 auto;
  padding-top: 20px;
  background-image: url(../img/bg6.jpg);
  height: 660px;
}
.fifth__page-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.fifth__page-img {
  margin: 20px 0 0 0;
}
.fifth__page-img img {
  width: 80%;
}
.fifth__page-text {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 40px 0 0px 0;
}
.content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content__img-one {
  display: flex;
  margin: 30px 0 20px 0;
}
.content__img-two {
  display: flex;
  margin: 0px 0 20px 0;
}
.blue {
  margin: 0 20px 0 20px;
  width: 80px;
}
.yellow {
  margin: 0 20px 0 20px;
  width: 80px;
}
.violet {
  margin: 0 20px 0 20px;
  width: 80px;
}

.five__btn {
  cursor: pointer;
  margin: 90px 0 0px 0;
}
.six__btn {
  cursor: pointer;
  margin: 90px 0 0px 0;
}
@media (max-width: 767px) {
  .fifth__page-text {
    font-size: 16px;
  }
  .fifth__page-img {
    margin: 60px 0 0 0;
  }
  .blue {
    margin: 0 10px 0 10px;
    width: 70px;
  }
  .yellow {
    margin: 0 10px 0 10px;
    width: 70px;
  }
  .violet {
    margin: 0 10px 0 10px;
    width: 70px;
  }
  .six__btn {
    cursor: pointer;
    margin: 70px 0 0px 0;
  }
}
